{% extends 'base.html'  %}
{% block title %}Chat{% endblock %}
{% block content %}
  <div class="container-fluid">
      <div>
        <div class="card p-5">
          <h2 class="card-title">¿A cuál sala te gustaría entrar?</h2><br/>
          <input id="room-name-input" class="fs-16" type="text" size="100" placeholder="Escribe una sala" class="input100"/><br/><br/>
          <button id="room-name-submit" class="btn btn-primary fs-16">Entrar</button>
          <button class="btn btn-danger fs-16" data-toggle="modal" data-target=".bs-example-modal-sm">Cerrar sesión</button>
        </div>
      </div>
    </div>
  
    
    <div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header"><h4>Cerrar sesión <i class="fa fa-lock"></i></h4></div>
          <div class="modal-body"><i class="fa fa-question-circle"></i>¿Está seguro que desea cerrar sesión?</div>
          <div class="modal-footer"><a href="{% url 'logout' %}" class="btn btn-primary btn-block">Salir</a></div>
        </div>
      </div>
    </div>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
  </div>
{% endblock %}