{% extends "base.html" %}
{% block title %}Iniciar sesión{% endblock %}
{% load static %}
{% block content %}
	<div class="container-fluid">
		<div>
			<div class="card p-5" >
				<form class="login100-form validate-form">
					<span class="login100-form-title pb-5">
						Iniciar sesión
					</span>

					<div>
						<a href="{% url 'social:begin' 'facebook' %}" class="btn-login-with bg1 mb-2">
							<i class="fab fa-facebook-f"></i>
							Inicia con Facebook
						</a>

						<a href="{% url 'social:begin' 'instagram' %}" class="btn-login-with bg2">
							<i class="fab fa-instagram"></i>
							Inicia con Instagram
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
